<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Monify.com
    </title>
    <link rel="icon" type="image/x-icon" href="isatulogo (1).png">
    <link rel="stylesheet" href="static/css/payment.css">
</head>
<body>
    <div class="hero">
        <nav>
            <img src="static/pictures/isatulogo (1).png" class = "logo">
            <ul>
                <li> <a href="{{'message'}}">Message</a></li>
                <li> <a href="{{'firstpage'}}">Home</a></li>
                <li> <a href="{{'features'}}">Features</a></li>
                <li> <a href="{{'about'}}">About</a></li>
                <li> <a href="{{'contact'}}">Contact</a></li>
            </ul>
            <img src="static/pictures/isatulogo (1).png" class = "user-pic" onclick="toggleMenu()">
        </nav>
        <form action="mess" method="post">
        <div>
    <input type="text" name="mess" placeholder="message">
    <input type="submit">
</div>
            </form>
    </div>

</body>
</html>